@import "vars";

// Modified from Daudix's fancy list styling: https://github.com/daudix/daudix.one/blob/main/sass/components/_fancy-list.scss

.fancy-list ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner-small);
		background-color: var(--surface1);
		padding: 0.5rem 0.75rem;
	}
}