@import "../themes/duckquill/sass/_variables.scss";

// Some variables for some themed colors
@include theme-variables using ($theme) {
    @if $theme == "dark" {
        --surface0: hsl(from var(--bg-color) h s calc(l + 5));
        --surface1: hsl(from var(--bg-color) h s calc(l + 10));
    } @else {
        --surface0: hsl(from var(--bg-color) h s l);
        --surface1: hsl(from var(--bg-color) h s calc(l - 5));
    }
}