@import "../../themes/duckquill/sass/_variables.scss";

@include theme-variables using ($theme) {
    @if $theme == "dark" {
        --bg-overlay: linear-gradient(rgb(from var(--bg-color) r g b / 0.9), rgb(from var(--bg-color) r g b / 0.9));
    }

    @else {
        --bg-overlay: linear-gradient(rgb(from var(--bg-color) r g b / 0.8), rgb(from var(--bg-color) r g b / 0.8));
    }
}


body {
    background-image: var(--bg-overlay), url("../img/pfp.png");
}

// TODO: Is there a way for me to set the background image based on the banner image that was used? Maybe make use of a front matter variable?
    // Yeah, there might be. Could use a colocated file simply called "banner". I could also alternatively make an alternate version of it for a background